
#Contact{width: 60%;
    height: 100vh;
/* background-color: rgb(162, 247, 162); */
background-image: url("https://images.unsplash.com/photo-1529159942819-334f07de4fe5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");

margin: auto;
padding: 15px;

}

form{
    width: 30%;
    margin: auto;
    
    /* background-color: white; */
}

#Id1{
    text-align: center;
    
}

input{
    width: 100%;
}

button{
    margin-top: 20px;
    background-color: rgb(145, 145, 219);
}

input.ng-invalid.ng-touched{
    border:1px red solid;
}