
.About{
    width: 45%;
    margin: auto;
    border: 2px black dotted;
    height: 90vh;
    padding: 10px;
    /* background-color: rgb(150, 245, 150); */
    background-image: url("https://images.unsplash.com/photo-1529159942819-334f07de4fe5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
    
}


#image{
    float: left;
    margin: 10px 10px 10px 20px;
    border: 2px black solid;
    border-radius: 3px;
    
}

h2{
    width: 30%;
    margin: 40px auto;
}

#statement1{
    margin-top: 45px;
}