ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-top: 20px;
  }
  
  li {
    float: left;
  }
  
  li button {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li button:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }
  #footer {
    padding:550px  0px 0px 0px;
  text-align: center;
}

button{
  background-color: black;
}

#main{width: 100hw;
  height: 90vh;
  background-image: url("https://images.unsplash.com/photo-1529159942819-334f07de4fe5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
}