#Id1{
    width: 30%;
    margin: auto;
    
    padding: 13px;
}

input{
    width: 100%;
}

input.ng-invalid.ng-touched{
    border:1px red solid;
    
}
#main{
    /* background-color: rgb(162, 247, 162); */
    background-image: url("https://images.unsplash.com/photo-1529159942819-334f07de4fe5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");

}

#Id2{
    text-align: center;
    color: rgb(120, 76, 161);
}
button{
    width: 70px;
    height: 30px;
    border-radius: 5px;
    margin-left: 150px;
}