<div id="main">
    <div id="id1">
       <h2>Please Login!</h2>
 
       <form #logForm="ngForm" (ngSubmit)="adminlogin()">
 
          <div style="color: red;">{{msg}}</div><br>
 
          <label for="email">Email</label><br>
          <input type="text" id="email" [(ngModel)]="admin.email" name="email" required minlength="8" #emailid="ngModel"
             pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" /><br><br>
          
 
 
          <label for="pass">Password</label>:<br>
          <input type="password" id="pass" [(ngModel)]="admin.password" name="password" #pass="ngModel" required
             minlength="5" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" /><br><br>
          
 
         <button type="submit" id="but">Login</button>
 
       </form>
       
    </div>
 </div>
 <!-- (click)="regClick()" -->