<div id="main">
   <div id="id1">
      <h2>Please Login!</h2>

      <form #logForm="ngForm" (ngSubmit)="loginFarmers()">

         <div style="color: red;">{{msg}}</div><br>

         <label for="email">Email</label><br>
         <input type="text" id="email" [(ngModel)]="farmer.email" name="email" required minlength="8" #emailid="ngModel"
            pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" /><br><br>
        


         <label for="pass">Password</label>:<br>
         <input type="password" id="pass" [(ngModel)]="farmer.password" name="password" #pass="ngModel" required
            minlength="5" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" /><br><br>
         

        <button type="submit" id="but">Login</button>

      </form>
      <span id="new">New?</span>
      <button type="submit" id="reg" (click)="regClick()">Register</button>
   </div>
</div>