<div class="container">
    <form #myForm="ngForm" (ngSubmit)="saveData()">

        <table >
                <tr>
                    <td><label for="bidder_id">bidder_id</label> </td>   
                    <td><input  type="number" name="bidder_id" [(ngModel)]="bidder.bidder_id" required></td>       
                </tr>

                <tr>
                    <td><label for="bidder_name">bidder_name</label> </td>   
                    <td><input  type="text" name="bidder_name" [(ngModel)]="bidder.bidder_name"  #name="ngModel" required></td>     
                    <div *ngIf="name.invalid && (name.dirty||name.touched)">
                        <br>
                        <div *ngIf="name.errors?.required" style="color: red;">Name is required</div>
                    </div>  
                </tr>

                <tr>
                    <td><label for="email_id">email_id</label> </td>   
                    <td><input  type="text" name="email_id" [(ngModel)]="bidder.email" required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" #email="ngModel"></td>  
                    <div *ngIf="email.invalid && (email.dirty||email.touched)">
                        <br>
                        <div *ngIf="email.errors?.required" style="color: red;">email is required</div>
                        <div *ngIf="email.errors?.pattern" style="color: red;">Enter correct email</div>
                    </div>     
                </tr>
                <tr>
                    <td><label for="mobile_no">mobile_no</label> </td>   
                    <td><input  type="text" name="mobile_no" [(ngModel)]="bidder.mobile_no" required #mob="ngModel" pattern="(0/91)?[7-9][0-9]{9}"></td>   
                    <div *ngIf="mob.invalid && (mob.dirty||mob.touched)">
                        <br>
                        <div *ngIf="mob.errors?.required" style="color: red;">Mobile number is required</div>
                        <div *ngIf="mob.errors?.pattern" style="color: red;">Enter correct mobile number</div> 
                    </div>    
                </tr>
                <tr>
                    <td><label for="account_no">account_no</label> </td>   
                    <td><input  type="text" name="account_no" [(ngModel)]="bidder.account_no" required></td>       
                </tr>
                <tr>
                    <td><label for="ifsc_code">IFSC_code</label> </td>   
                    <td><input  type="text" name="ifsc_code" [(ngModel)]="bidder.ifsc_code" required></td>       
                </tr>
                <tr>
                    <td><label for="aadhar_no">Aadhar_no</label> </td>   
                    <td><input  type="text" name="aadhar_no" [(ngModel)]="bidder.aadhar_no" required></td>       
                </tr>
                <tr>
                    <td><label for="pan_no">pan_no</label> </td>   
                    <td><input  type="text" name="pan_no" [(ngModel)]="bidder.pan_no" required></td>       
                </tr>
                <tr>
                    <td><label for="license_no">license_no</label> </td>   
                    <td><input  type="text" name="license_no" [(ngModel)]="bidder.license_no" required></td>       
                </tr>
                <tr>
                    <td><label for="password">password</label> </td>   
                    <td><input  type="password" name="password" [(ngModel)]="bidder.password" required></td>       
                </tr>
                
                <tr>
                    <td></td>   
                    <td><input type="submit" value="Save Product" [disabled]="!myForm.valid"></td>     
                </tr>
        </table>

    </form>

</div>