<h1>Bidding Table</h1>
<table border="1">
    <thead style="color: blue;">
        <th>product_id</th>
        <th>farmer_id</th>
        <th>crop_name</th>
        <th>crop_type</th>
        <th>quantity</th>
        <th>Base_price</th>
        <th *ngIf="showBtn">bidder_amount</th>
        <th *ngIf="showBtn">bidder_id</th>
        <button (click)="hide()"  *ngIf="showBtn">Cancel</button>
    </thead>
    <tr *ngFor="let p of addProduct">
        <td> {{p.product_id}}</td>
        <td> {{p.farmer_id}}</td>
        <td> {{p.crop_name}}</td>
        <td> {{p.crop_type}}</td>
        <td> {{p.quantity}}</td>
        <td> {{p.base_price}}</td>
        <td><input type="number"   (keyup) ="onchangeData($event,p.product_id)" [(ngModel)]="p.bidder_amount" placeholder="Bid Amount" *ngIf="showBtn"></td>
        <td><input type="number"  [(ngModel)] ="p.bidder_id" placeholder="Bidder Id" *ngIf="showBtn"></td>
        <td><button (click)="saveData(p)" *ngIf="showBtn">submit</button></td>
        <button  (click)="show()"  *ngIf="!showBtn">Bid</button>
        </tr>
</table>

